{% extends 'mom2k17/base.html' %}
{% load staticfiles %}
{% block content %}

		<!-- [ PAGE-SECTION ] -->
		<main id="main" class="background" data-image="{% static 'mom2k17/base/images/AppsCorner.jpg' %}">

			<!-- [ BACKGROUND-OVERLAY ] -->
			<div class="overlay" style="background-color: rgba(0,0,0,0.6)"></div>
			<!-- [ BACKGROUND-OVERLAY END ] -->

			<div class="nc-content-section index nc-active vhm">

				<!-- [ RAIN ANIMATION ] -->
				<div id="particles-js"></div>
				<!-- [ RAIN ANIMATION END ] -->
				
				<!-- [ AJAX-PAGE ] -->
				<div id="ajax-page" class="page-wrapper vhm-item">
				<!-- [ ABOUT PAGE ] -->
<div id="about" class="anim s01 pg-wrp">
	<div class="container">
		
		<!-- [ TITLE ] -->
		<section class="title-wrapper anim fadeInUp s01 delay-0-2s">
			<h1 class="h1 title tme"> Apps Corner </h1>
			<span class="line"></span>
			<p>
				Mind Over Matter 2k17 - Technology for Clean India
			</p>
		</section>

		<div class="row gt60">

			<!-- [ ABOUT-IMG-BOX ] -->	
			<div class="col-md-5 col-sm-5 abt-img-wrp anim fadeInUp s01 delay-0-3s">
				<div class="img-box">
					<img src="{% static 'mom2k17/base/images/apps-front.png' %}" alt="img">
				</div>
			</div>
			<!-- [ ABOUT-IMG-BOX END ] -->
	
			<div class="col-md-7 col-sm-7">

				<!-- [ TEXT INFO ] -->
				<div class="text-info">
					<p class="anim fadeInUp s01 delay-0-5s">
						MOM 2K17 brings a contest for all the app developers out there.                        
					</p>
					<p class="anim fadeInUp s01 delay-0-5s">
						Through this we are giving an opportunity to showcase, promote and compete with your app.
					</p>

                    <br/><br/>

					<section class="title-wrapper sub anim fadeInUp s01 delay-0-4s">
						<h4 class="h4 title">
							Participation
						</h4>
						<span class="line"></span>
					</section>
					<p class="anim fadeInUp s01 delay-0-5s">
						<p>Bring out your self made apps</p>
						<p>Showcase them in front of the audience</p>
						<p>Entry Fees: ₹ 1,000</p>
					</p>

					<br/>

					<section class="title-wrapper sub anim fadeInUp s01 delay-0-4s">
						<h4 class="h4 title">
							Prizes
						</h4>
						<span class="line"></span>
					</section>
					<p class="anim fadeInUp s01 delay-0-5s">
						<p>First Prize: ₹ 10,000 + Sponsored Gifts</p>
						<p>Second Prize: ₹ 5,000 + Sponsored Gifts</p>
						<p>Full Download and promotions support for the winners</p> 
					</p>					
				</div>
				<!-- [ TEXT INFO END ] -->

			</div>

		</div>
		<!-- [ ABOUT-CAROUSEL ] -->

	</div>
</div>
<!-- [ ABOUT PAGE END ] -->		

					
				</div>
				<!-- [ AJAX-PAGE END ] -->

			</div>

			<!-- [ OC-CLICK OVERLAY ] -->
			<div class="nc-overlay"></div>
			<!-- [ OC-CLICK OVERLAY END ] -->

		</main>
		{% endblock %}