{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Innovative Idea Presentation Contest of MoM 2k17, ABV-IIITM, Gwalior">
	<meta name="keywords" content="mom,mind over matter,abv-iiitm,atal bihari vajpayee,technical,model,exhibition,technical model exhibition,quiz,cultural,Expressions">
	<meta name="author" content="Pranay Verma">
	<title>BrainWave | MOM 2k17</title>

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">



	<!-- [ FONT-AWESOME ICON ] -->
	<link rel="stylesheet" type="text/css" href="{% static 'mom2k17/base/lib/font-awesome-4.3.0/css/font-awesome.min.css' %}">

	<!-- [ PLUGIN STYLESHEET ] -->
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'mom2k17/images/nc-fav.png' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mom2k17/base/css/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mom2k17/base/css/owl.carousel.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mom2k17/base/css/magnific-popup.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mom2k17/base/css/jquery.mCustomScrollbar.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mom2k17/base/css/vegas.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mom2k17/base/css/jquery.mb.YTPlayer.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mom2k17/base/css/partical-animation.css' %}">

	<!-- [ DEFAULT STYLESHEET ] -->
	<link rel="stylesheet" type="text/css" href="{% static 'mom2k17/base/lib/bootstrap/css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mom2k17/base/lib/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mom2k17/base/css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mom2k17/base/css/structure.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mom2k17/base/css/main-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mom2k17/base/css/responsive.css' %}">

</head>
<body class="single-image">

	<div class="page-loader-wrapper">
		<div class="loader">

		</div>
	</div>

	<!-- [ MAIN-WRAPPER ] -->
	<div id="main-wrapper">

		<!-- [ MENU-ICON ] -->
		<a href="#nc-menu" class="nc-menu-trigger"><span>Menu</span></a>
		<!-- [ MENU-ICON END ] -->

		<!-- [ PAGE-SECTION ] -->
		<main id="main" class="background" data-image="{% static 'mom2k17/base/images/BrainWave.jpg' %}">

			<!-- [ BACKGROUND-OVERLAY ] -->
			<div class="overlay" style="background-color: rgba(0,0,0,0.6)"></div>
			<!-- [ BACKGROUND-OVERLAY END ] -->

			<div class="nc-content-section index nc-active vhm">

				<!-- [ RAIN ANIMATION ] -->
				<div id="particles-js"></div>
				<!-- [ RAIN ANIMATION END ] -->

				<!-- [ AJAX-PAGE ] -->
				<div id="ajax-page" class="page-wrapper vhm-item">
				<!-- [ ABOUT PAGE ] -->
<div id="about" class="anim s01 pg-wrp">
	<div class="container">

		<!-- [ TITLE ] -->
		<section class="title-wrapper anim fadeInUp s01 delay-0-2s">
			<h1 class="h1 title tme"> BrainWave </h1>
			<span class="line"></span>
			<p>
				Innovative Idea Presentation Contest
			</p>
		</section>

		<div class="row gt60">

			<!-- [ ABOUT-IMG-BOX ] -->
			<div class="col-md-5 col-sm-5 abt-img-wrp anim fadeInUp s01 delay-0-3s">
				<div class="img-box">
					<img src="{% static 'mom2k17/base/images/bulb.png' %}" alt="img">
				</div>
			</div>
			<!-- [ ABOUT-IMG-BOX END ] -->

			<div class="col-md-7 col-sm-7">

				<!-- [ TEXT INFO ] -->
				<div class="text-info">
					<p class="anim fadeInUp s01 delay-0-5s">
						Bring out your innovative ideas on the theme, Submit an abstract of the idea, Present it in front of the audience
					</p>
					<p class="anim fadeInUp s01 delay-0-5s">
MOM 2k17 provides you with an opportunity to not only display your ideas
to the experts in the field but also remove your fear of crowd and take public
opinion on your ideas.
					</p>


					<br/><br/>

					<section class="title-wrapper sub anim fadeInUp s01 delay-0-4s">
						<h4 class="h4 title">
							Participation
						</h4>
						<span class="line"></span>
					</section>
					<p class="anim fadeInUp s01 delay-0-5s">
						<p>Participation in a team of 2</p>
						<p>Entry fees:- College students: ₹ 500 (<em>Participation free for Quiz</em>),<br/> School Students: ₹ 300</p>
					</p>

					<br/>

					<section class="title-wrapper sub anim fadeInUp s01 delay-0-4s">
						<h4 class="h4 title">
							Prizes
						</h4>
						<span class="line"></span>
					</section>
					<p class="anim fadeInUp s01 delay-0-5s">
						<p>First Prize: ₹ 7,000 + Sponsored Gifts</p>
						<p>Second Prize: ₹ 3,000 + Sponsored Gifts</p>
					</p>

					<br/>

					<button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">View Problem Statement</button>
				</div>
				<!-- [ TEXT INFO END ] -->

			</div>

		</div>
		<!-- [ ABOUT-CAROUSEL ] -->

	</div>
</div>
<!-- [ ABOUT PAGE END ] -->

				</div>
				<!-- [ AJAX-PAGE END ] -->

			</div>



			<!-- [ OC-CLICK OVERLAY ] -->
			<div class="nc-overlay"></div>
			<!-- [ OC-CLICK OVERLAY END ] -->

		</main>
		<!-- [ PAGE-SECTION END ] -->

	<nav class="nc-menu-container" id="nc-menu">
			<header class="nav-header vm">
				<a href="#0" class="nc-menu-close"></a>
			</header>

			<ul id="navigation" class="nc-menu">
				<li class="nc-active" data-menu="index">
					<a class="link-box vhm nav-link" data-page="home.html" href="{% url 'home' %}">
						<span class="vhm-item inner-wrp">
							<span class="icon vhm"><i class="fa fa-home vhm-item"></i></span>
							<span class="text">Home</span>
						</span>
					</a>
				</li>

				<li data-menu="about">
					<a class="odd link-box vhm nav-link" data-page="pages/about.html" href="{% url 'about' %}">
						<span class="vhm-item inner-wrp">
							<span class="icon vhm"><i class="fa fa-info vhm-item"></i></span>
							<span class="text">About</span>
						</span>
					</a>
				</li>
                <li data-menu="about">
					<a class="odd link-box vhm nav-link" data-page="pages/about.html" href="{% url 'message' %}">
						<span class="vhm-item inner-wrp">
							<span class="icon vhm"><i class="fa fa-envelope-open-o"></i></span>
							<span class="text">Message</span>
						</span>
					</a>
				</li>
                 <li data-menu="about">
					<a class="odd link-box vhm nav-link" data-page="pages/about.html" href="{% url 'register' %}">
						<span class="vhm-item inner-wrp">
							<span class="icon vhm"><i class="fa fa-sign-in vhm-item"></i></span>
							<span class="text">Register</span>
						</span>
					</a>
				</li>

				<li data-menu="about">
					<a class="odd link-box vhm nav-link" data-page="pages/about-1.html" href="{% url 'events' %}">
						<span class="vhm-item inner-wrp">
							<span class="icon vhm"><i class="fa fa-calendar-check-o vhm-item"></i></span>
							<span class="text">Events</span>
						</span>
					</a>
				</li>
                <li data-menu="our-team">
					<a class="odd link-box vhm nav-link" data-page="pages/our-team.html" href="{% url 'flash' %}">
						<span class="vhm-item inner-wrp">
							<span class="icon vhm"><i class="fa fa-superpowers vhm-item"></i></span>
							<span class="text">Flash</span>
						</span>
					</a>
				</li>



				<li data-menu="our-team">
					<a class="odd link-box vhm nav-link" data-page="pages/our-team.html" href="{% url 'expressions' %}">
						<span class="vhm-item inner-wrp">
							<span class="icon vhm"><i class="fa fa-moon-o vhm-item"></i></span>
							<span class="text">Expressions</span>
						</span>
					</a>
				</li>

                <li data-menu="our-team">
					<a class="odd link-box vhm nav-link" data-page="pages/our-team.html" href="{% url 'workshop' %}">
						<span class="vhm-item inner-wrp">
							<span class="icon vhm"><i class="fa fa-code vhm-item"></i></span>
							<span class="text">Workshops</span>
						</span>
					</a>
				</li>

				<li data-menu="our-team">
					<a class="odd link-box vhm nav-link" data-page="pages/our-team-1.html" href="{% url 'team' %}">
						<span class="vhm-item inner-wrp">
							<span class="icon vhm"><i class="fa fa-users vhm-item"></i></span>
							<span class="text">Team</span>
						</span>
					</a>
				</li>

				<li data-menu="portfolio-2">
					<a class="odd link-box vhm nav-link" data-page="pages/portfolio.html" href="{% url 'sponsors' %}">
						<span class="vhm-item inner-wrp">
							<span class="icon vhm"><i class="fa fa-handshake-o vhm-item"></i></span>
							<span class="text">Sponsors</span>
						</span>
					</a>
				</li>

				<li data-menu="services">
					<a class="odd link-box vhm nav-link" data-page="pages/services.html" href="{% url 'hospi' %}">
						<span class="vhm-item inner-wrp">
							<span class="icon vhm"><i class="fa fa-building vhm-item"></i></span>
							<span class="text">Hospitality</span>
						</span>
					</a>
				</li>
			</ul>
		</nav>
		<!-- [ NAVIGATION END ] -->

	</div>
	<!-- [ MAIN-WRAPPER END ] -->

	<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">BrainWave Problem Statements</h4>
					</div>
					<div class="modal-body">

<p>Mind Over Matter (MoM) 2k17 brings Brainwave that encourages participants to brain storm and come up with ideas on given topics related to Technology for clean India. They are required to present their innovative ideas through presentations. The participants can present their solutions on any one of the following two problems:</p>

<br/><br/>

<h3>Problem Statement 1</h3>
<br/>
<p>
When you refuse to reuse, it’s our India you abuse
The problem that our country faces is the lack of recycling infrastructure because of which the waste that can be reused goes vain.
Today the solutions to the waste management of our country does not lay solely on waste disposal mechanisms. A major chunk lies in integrating the technology with a system of household-level segregation so that waste does not end up in landfills, but is processed and reused. Come up with your own ideas that can make garbage a useful asset. Show how the power of reusing can bring mind boggling solutions to one of the most pestering problems of the nation.
</p>

<br/><br/>

<h3>Problem Statement 2</h3>
<br/>
<p>
The recipe for interesting train travels is when cleanliness unravels
The problem with our railway system is its hygiene. We lack a robust yet feasible system that can maintain this vast network across the nation.
Even though India can boast about having the largest railway network in the world, when it comes to the cleanliness of our railway stations, platforms and washrooms the world looks down upon us. Let’s not forget Indian railways is our responsibility. Keep up with your responsibility and brain storm on how we can maintain the hygiene of our stations, keep our tracks clean and fight with the problems of the sanitation in washrooms and trains. Take your step in making Indian railways not just the biggest but the cleanest through your incredible ideas.
</p>

<br/><br/>
<strong>NOTE:</strong> <em>Mail your abstracts at <a href="mailto:mindovermatter2k17@gmail.com">mindovermatter2k17@gmail.com</a> with your team name as subject</em>.
					</div>
				</div>

			</div>
			</div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'mom2k17/base/js/jquery-1.11.3.min.js' %}"></script>

	<!-- [ PLUGIN SCRIPT ] -->
	<script src="{% static 'mom2k17/base/js/plugins.js' %}"></script>
	<script src="{% static 'mom2k17/base/js/particles.min.js' %}"></script>
	<script src="{% static 'mom2k17/base/js/partical-animation.js' %}"></script>
    <script src="{% static 'mom2k17/base/js/vegas.min.js' %}"></script>
    <script src="{% static 'mom2k17/base/js/jquery.mb.YTPlayer.min.js' %}"></script>
    <script src="{% static 'mom2k17/base/js/video-bg.js' %}"></script>
    <script src="{% static 'mom2k17/base/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mom2k17/base/js/particle-anim-2.js' %}"></script>
	<!-- [ COMMON SCRIPT ] -->
	<script src="{% static 'mom2k17/base/js/common.js' %}"></script>

	<!-- [ DEFAULT SCRIPT ] -->


</body>
</html>