{% extends 'mom2k17/base.html' %}
{% load staticfiles %}
{% block content %}

		<!-- [ PAGE-SECTION ] -->
		<main id="main" class="background vd-bg" data-image="{% static 'mom2k17/base/images/flash.png' %}">

            <!-- BACKGROUND VIDEO -->
			<a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=MbXQMLSzOzU',containment:'.vd-bg',showControls:true, autoPlay:true, loop:true, vol:50, mute:true, startAt:3, stopAt:45, opacity:1, addRaster:true, quality:'default', optimizeDisplay:true}">My video</a>

			<!-- [ BACKGROUND-OVERLAY ] -->
			<div class="overlay" style="background-color: rgba(0,0,0,0.6)"></div>
			<!-- [ BACKGROUND-OVERLAY END ] -->

			<div class="nc-content-section index nc-active vhm">

				<!-- [ RAIN ANIMATION ] -->
				<div id="particles-js"></div>
				<!-- [ RAIN ANIMATION END ] -->

				<!-- [ HOME-PAGE ] -->
				

				<!-- [ AJAX-PAGE ] -->
				<div id="ajax-page" class="page-wrapper vhm-item">
					

<!-- [ ABOUT PAGE ] -->
<div id="about" class="anim s01 pg-wrp">
	<div class="container">
		
		<!-- [ TITLE ] -->
		<section class="title-wrapper anim fadeInUp s01 delay-0-2s">
			<h1 class="h1 title"> Flash </h1>
			<span class="line"></span>
			<p>
				The Display Arena | MoM 2k17
			</p>
		</section>

		<div class="row gt60">

			<!-- [ ABOUT-IMG-BOX ] -->	
			<div class="col-md-5 col-sm-5 abt-img-wrp anim fadeInUp s01 delay-0-3s">
				<div class="img-box">
					<img src="{% static 'mom2k17/base/images/flash-front.png' %}" alt="img">
				</div>
			</div>
			<!-- [ ABOUT-IMG-BOX END ] -->
	
			<div class="col-md-7 col-sm-7">

				<!-- [ TEXT INFO ] -->
				<div class="text-info">
					<p class="anim fadeInUp s01 delay-0-5s">
Flash is the display arena of MOM 2k17 where an opportunity is given to the innovative minds who created something unique in the sphere of technology.
It focuses on bringing out such people and providing them a platform so that they can showcase their work in front of the young minds that will also help them learn and even inspire them to try something on their own.
					</p>

					<br/><br/>

					<p class="anim fadeInUp s01 delay-0-5s">
						<p>There is no registration fees for Flash</p>
						<p>It is open for all (students, companies, academies, schools, etc.)</p>
						<p>Interested partipants are required to send us a mail at <a href="mailto:mindovermatter2k17@gmail.com">mindovermatter2k17@gmail.com</a> describing about what they want to exhibit</p>
					</p>
				</div>

				<!-- [ TEXT INFO END ] -->

			</div>

		</div>
		<!-- [ ABOUT-CAROUSEL ] -->

	</div>
</div>
<!-- [ ABOUT PAGE END ] -->		

				</div>
				<!-- [ AJAX-PAGE END ] -->

			</div>

			<!-- [ OC-CLICK OVERLAY ] -->
			<div class="nc-overlay"></div>
			<!-- [ OC-CLICK OVERLAY END ] -->

		</main>
		<!-- [ PAGE-SECTION END ] -->
{% endblock %}

