<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
{% extends 'mom2k17/base.html' %}
{% load staticfiles %}
{% block content %}


		<!-- [ PAGE-SECTION ] -->
		<main id="main" class="background vd-bg" data-image="{% static 'mom2k17/images/partical-bg2.jpg' %}">
<a id="bgndVideo" class="player" data-property="{videoURL:'https://https://www.youtube.com/watch?v=txPrwRkQj7I',containment:'.vd-bg',showControls:true, autoPlay:true, loop:true, vol:50, mute:true,  opacity:6, addRaster:true, quality:'default', optimizeDisplay:true}">My video</a>

			<!-- [ BACKGROUND-OVERLAY ] -->
			<div class="overlay" style="background-color: rgba(0,0,0,0.4)"></div>
			<!-- [ BACKGROUND-OVERLAY END ] -->

			<div class="nc-content-section index nc-active vhm">

				<!-- [ RAIN ANIMATION ] -->
				<div id="particles-js"></div>
				<!-- [ RAIN ANIMATION END ] -->
                <div class="container">
                    <div class="logo2">

                            <div class="logo-wrp2">
								<img src="{% static 'mom2k17/images/logo_mid.png' %}" alt="Logo">
							</div>
                            </div>
                </div>

				<!-- [ HOME-PAGE ] -->
				<div id="home-page" class="page-wrapper vhm-item active-home anim s01">

					<div class="container">




						<!-- [ LOGO ] -->
						<div class="logo ac anim fadeInUp s01 delay-0-5s">

                            <div class="logo-wrp">
								<img src="{% static 'mom2k17/images/logo.png' %}" alt="Logo">
							</div>
                            <br><br><br>

							<div class="item"><h2>ABV IIITM</h2>PRESENTS<br><br>
                                	<h1>MIND OVER MATTER</h1>
					<h3>19<sup>th</sup> - 20<sup>th</sup> JAN' 17</h3>
{#                                <h2>3<sup>rd</sup> NATIONAL TECHNICAL INOVATION FAIR</h2>#}
{#											<h1></h1>#}
										</div>
						</div>
						<!-- [ LOGO END ] -->


						<!-- [ TAGLINE ] -->
						<div class="tagline ac anim fadeInUp s01 delay-0-6s">

							<!-- ANIMATION TEXT -->
							<div class="carousel-widget text-carousel" data-itemrange="false" data-in="fadeIn" data-out="fadeOut" data-autoplay="true" data-loop="true" data-items="1" data-mouseDrag="false" data-touchDrag="false">

								<div class="carousel">

									<div class="owl-carousel owl-theme">

										<div class="item">


                                            <h2>3rd National Technical Innovation Fair</h2>
										</div>




										<div class="item">
											<h2>Technology for Clean India</h2>
										</div>

									</div>

								</div>
							</div>
                            <br>
							<p  class="anim fadeInUp s01 delay-0-7s">Dedicated to PM Narendra Modi's 'Swachh Bharat' Initiative</p>
                            <div class="logo ac anim fadeInUp s01 delay-0-5s">
							<div class="logo-wrp">
								<img src="{% static 'mom2k17/images/logo2.png' %}" alt="Logo">
							</div>


						</div>
						</div>
						<!-- [ TAGLINE END ] -->

						<div class="subscribe ac anim fadeInUp s01 delay-0-8s text-center">
                            <a href="https://www.thecollegefever.com/events/mind-over-matter-2k17"><div class="alert btn btn-color   " role="alert">
  <strong>FEE PAYMENT</strong>
</div></a>

						</div>

						<!-- [ SOCIAL ICON ] -->
						<div class="social-icon ac anim fadeInUp s01 delay-0-9s">
							<a class="icon vhm" href="https://www.facebook.com/MOM2K17/" title="Facebook Page" target="_blank">
								<span class="box" ></span>
								<i class="fa fa-facebook vhm-item" ></i>
							</a>
							<a class="icon vhm" href="mailto:mindovermatter2k17@gmail.com?Subject=Hello%20again" title="Contact Us" target="_blank">
								<span class="box"></span>
								<i class="fa fa-envelope vhm-item"></i>
							</a>

							<a class="icon vhm" href="https://iiitm.ac.in/images/News_2016/Nov_2016/Brochure_MOMK2K17-15-11-16.pdf" title="Brochure" target="_blank">
								<span class="box"></span>
								<i class="fa fa-file vhm-item"></i>
							</a>
                            <a class="icon vhm" href="https://goo.gl/forms/drwWNtA1HILBmTGj1" title="School Registration" target="_blank">
								<span class="box"></span>
								<i class="fa fa-child vhm-item"></i>
							</a>
                            <a class="icon vhm" href="https://drive.google.com/open?id=0B7VIcPxySDjecUd0LW1KR290cTQ" title="Model Test Paper" target="_blank">
								<span class="box"></span>
								<i class="fa fa-pencil-square-o vhm-item"></i>
							</a>

                            <a class="icon vhm label label-default" href="#result" data-toggle="modal" title="Quiz Result" >
								<span class="box "></span>
								<i class="fa fa-list vhm-item"></i>
							</a>

							


						</div>
						<!-- [ SOCIAL ICON END ] -->




					</div>

				</div>

				<!-- [ HOME-PAGE END ] -->

				<!-- [ AJAX-PAGE ] -->
				<div id="ajax-page" class="page-wrapper vhm-item">

				</div>
				<!-- [ AJAX-PAGE END ] -->

			</div>

			<!-- [ OC-CLICK OVERLAY ] -->
			<div class="nc-overlay"></div>
			<!-- [ OC-CLICK OVERLAY END ] -->

		</main>
		<!-- [ PAGE-SECTION END ] -->


	<!-- Modal -->
    <div id="result" class="modal fade" role="dialog">
  <div class="modal-dialog ">

    <!-- Modal content-->
    <div class="modal-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title text-capitalize">Congratulations to all the finalists !!</h2>
          <p>Results of Quiz Prelims for School Level conducted at our nodal centers - Gwalior Glory High School, Pragati Vidya Peeth, Ebenezer High School & RKVM are hereby declared. The rank list has been prepared after the normalization of marks. These teams are now in Top 10 who will play the Final Round on 19th-20th Jan.'17 at ABV-IIITM, Gwalior.</p>
    <p >For those who could not participate earlier there is a last chance of giving quiz on 15th Jan.'17 at ABV-IIITM, Gwalior. Students have to report at 10:30am sharp along with their school ID. They can come in teams of 2 and register on-spot (Reg. fee- Rs.200/- team). Top 3 will be selected from this round.</p>
      </div>
      <div class="modal-body">
        <img class="card-img-bottom" src="{% static 'mom2k17/images/result.jpg' %}" alt="Card image cap">
      </div>

    </div>

  </div>
</div>


{% endblock %}


