{% extends 'mom2k17/base.html' %}
{% load staticfiles %}
{% block content %}
		<!-- [ PAGE-SECTION ] -->
		<main id="main" class="background" data-image="{% static 'mom2k17/images/sci_fi-wallpaper-1920x1080.jpg' %}">

			<!-- [ BACKGROUND-OVERLAY ] -->
			<div class="overlay" style="background-color: rgba(0,0,0,0.6)"></div>
			<!-- [ BACKGROUND-OVERLAY END ] -->

			<div class="nc-content-section index nc-active vhm">

				<!-- [ RAIN ANIMATION ] -->
				<div id="particles-js"></div>
				<!-- [ RAIN ANIMATION END ] -->

				<!-- [ HOME-PAGE ] -->


				<!-- [ AJAX-PAGE ] -->
				<div id="ajax-page" class="page-wrapper vhm-item">


<!-- [ ABOUT PAGE ] -->
<div id="about" class="anim s01 pg-wrp">
	<div class="container">

		<!-- [ TITLE ] -->
		<section class="title-wrapper anim fadeInUp s01 delay-0-2s">
			<h1 class="h1 title"> Message</h1>
			<span class="line"></span>

			<p>
				Faculty Coordinator Mind Over Matter 2k17
			</p>
		</section>

		<div class="row gt60">

			<!-- [ ABOUT-IMG-BOX ] -->
			<div class="col-md-3 col-sm-3 col-md-offset-1 abt-img-wrp anim fadeInUp s01 delay-0-3s">
				<div class="img-box">
					<img src="{% static 'mom2k17/images/warden_bh3.jpg' %}" class="img-rounded" alt="Cinque Terre" width="100" height="300">
				</div>
			</div>
			<!-- [ ABOUT-IMG-BOX END ] -->

			<div class="col-md-7 col-sm-7">

				<!-- [ TEXT INFO ] -->
				<div class="text-info">
					<p class="anim fadeInUp s01 delay-0-5s">


It gives me immense pleasure in welcoming you, on behalf of the entire

community of the Indian Institute of Information Technology and Management

Gwalior to the 3 rd National Technical Innovation Fair, Mind Over Matter (MOM)

2K17 - ‘Technology for Clean India’. Presenting solutions for environmental and

social concern for the past two years, this time MOM is dedicated to the much

talked about Shri Narendra Modi’s Swachh Bharat Abhiyan.

MOM has been an undefeated platform for presenting Innovative ideas by the

young minds of our country. We believe that great ideas can and do come from

anywhere and so MOM creates an environment conducive not only to the tech

savvy graduates but also to the curious and smart school students for their

contribution to the society through numerous events awaiting your participation.

I invite you all to experience MOM 2K17, the only one of its kind and let yourself

free of all the boundaries to explore and innovate.
                        </p><br>
<p>
With best wishes ! <br>
    <h4 class="title h4">
    Dr. Pankaj Srivastava<br>

    Faculty Coordinator<br>
    MOM 2K17<br></h4>







					</p>
				</div>
				<!-- [ TEXT INFO END ] -->

			</div>

		</div>
		<!-- [ ABOUT-CAROUSEL ] -->

	</div>
</div>
<!-- [ ABOUT PAGE END ] -->

				</div>
				<!-- [ AJAX-PAGE END ] -->

			</div>

			<!-- [ OC-CLICK OVERLAY ] -->
			<div class="nc-overlay"></div>
			<!-- [ OC-CLICK OVERLAY END ] -->

		</main>
		{% endblock %}