{% extends 'mom2k17/base.html' %}
{% load staticfiles %}
{% block content %}
		<main id="main" class="background" data-image="{% static 'mom2k17/base/images/Quiz.jpg' %}">

			<!-- [ BACKGROUND-OVERLAY ] -->
			<div class="overlay" style="background-color: rgba(0,0,0,0.6)"></div>
			<!-- [ BACKGROUND-OVERLAY END ] -->

			<div class="nc-content-section index nc-active vhm">

				<!-- [ RAIN ANIMATION ] -->
				<div id="particles-js"></div>
				<!-- [ RAIN ANIMATION END ] -->
				
				<!-- [ AJAX-PAGE ] -->
				<div id="ajax-page" class="page-wrapper vhm-item">
				<!-- [ ABOUT PAGE ] -->
<div id="about" class="anim s01 pg-wrp">
	<div class="container">
		
		<!-- [ TITLE ] -->
		<section class="title-wrapper anim fadeInUp s01 delay-0-2s">
			<h1 class="h1 title tme"> Quiz Contest </h1>
			<span class="line"></span>
			<p>
				Mind Over Matter 2k17 - Technology for Clean India
			</p>
		</section>

		<div class="row gt60">

			<!-- [ ABOUT-IMG-BOX ] -->	
			<div class="col-md-5 col-sm-5 abt-img-wrp anim fadeInUp s01 delay-0-3s">
				<div class="img-box">
					<img src="{% static 'mom2k17/base/images/quiz-front.png' %}" alt="img">
				</div>
			</div>
			<!-- [ ABOUT-IMG-BOX END ] -->
	
			<div class="col-md-7 col-sm-7">

				<!-- [ TEXT INFO ] -->
				<div class="text-info">
					<p class="anim fadeInUp s01 delay-0-5s">
					Aside from the important benefit of improving/expanding one’s breath of
knowledge either general or in specific areas, the quizzes are designed to be fun and aim to provoke discussion and
healthy debate among the participants.
					</p>

					<br/><br/>

					<section class="title-wrapper sub anim fadeInUp s01 delay-0-4s">
						<h4 class="h4 title">
							School Level
						</h4>
						<span class="line"></span>
					</section>
					<p class="anim fadeInUp s01 delay-0-5s">
						<p>Entry fees: ₹ 200 per team member (2 members)</p>
						<p>First round will be conducted at certain designated schools</p>
						<p>Top 10 teams will get goodies of ₹ 500 each</p>
						<p>Final Round at ABV-IIITM</p>
						<p>Prize: ₹ 3,000 + Sponsored Gifts</p>
					</p>

					<br/>

					<section class="title-wrapper sub anim fadeInUp s01 delay-0-4s">
						<h4 class="h4 title">
							College Level
						</h4>
						<span class="line"></span>
					</section>
					<p class="anim fadeInUp s01 delay-0-5s">
						<p>Entry fees: ₹ 500 (<em>Participation free for BrainWave</em>)</p>
						<p>Compete in free online quiz</p>
						<p>Top 3 teams will win prizes worth ₹ 3,000</p>
						<p>Main Round at ABV-IIITM</p>
						<p>Prize: ₹ 5,000 + Sponsored Gifts</p>
					</p>					
				</div>
				<!-- [ TEXT INFO END ] -->

			</div>

		</div>
		<!-- [ ABOUT-CAROUSEL ] -->

	</div>
</div>
<!-- [ ABOUT PAGE END ] -->		

					
				</div>
				<!-- [ AJAX-PAGE END ] -->

			</div>

			<!-- [ OC-CLICK OVERLAY ] -->
			<div class="nc-overlay"></div>
			<!-- [ OC-CLICK OVERLAY END ] -->

		</main>
		{% endblock %}