{% extends 'mom2k17/base.html' %}
{% load staticfiles %}
{% block content %}

		<!-- [ PAGE-SECTION ] -->
		<main id="main" class="background" data-image="{% static 'mom2k17/base/images/minimalist_nfs_undercover_atmosphere-wallpaper-1920x1080.jpg' %}">

			<!-- [ BACKGROUND-OVERLAY ] -->
			<div class="overlay" style="background-color: rgba(0,0,0,0.3)"></div>
			<!-- [ BACKGROUND-OVERLAY END ] -->

			<div class="nc-content-section index nc-active vhm">

				<!-- [ RAIN ANIMATION ] -->
				<div id="particles-js"></div>
				<!-- [ RAIN ANIMATION END ] -->

				

				<!-- [ AJAX-PAGE ] -->
				<!-- [ PORTFOLIO-1 PAGE ] -->
<div id="portfolio-2" class="anim s01 pg-wrp" style="height: 800px;">
	<div class="container " >
        <section class="title-wrapper logo ac anim fadeInUp s01 delay-0-2s">

            <div class="logo-wrp">
								<img src="{% static 'mom2k17/images/logo.png' %}" alt="Logo">
							</div>
            <h1 class="h1 title">in association with </h1>
			<span class="line"></span>
            <div class="row">
			<div class="col-sm-4 col-md-4 col-sm-offset-4 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/images/sponsors/dainikbhaskargrouplogo.png' %}" alt="Resonance">
				</div>
			</div>
		</div>

		</section>


	<section class="title-wrapper anim fadeInUp s01 delay-0-2s">
        <br>
        <br>
			<h1 class="h1 title"> Knowledge Partners </h1>
        <span class="line"></span>
        <div class="row">
			<div class="col-sm-2 col-md-2 col-md-offset-2 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/images/sponsors/rkm.png' %}" alt="port">

				</div>
			</div>
			<div class="col-sm-2 col-md-2 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/images/sponsors/ebenezer.png' %}" alt="port"><br><br><br>

				</div>
			</div>

			<div class="col-sm-2 col-md-2 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/images/sponsors/pvp.png' %}" alt="port">

				</div>
			</div>
            <br><br><br>
			<div class="col-sm-2 col-md-2 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/images/sponsors/gghs.png' %}" alt="port">

				</div>
			</div>
            </div>

		</section>
        	<section class="title-wrapper anim fadeInUp s01 delay-0-2s">
        <br>
        <br>
			<h1 class="h1 title"> Event Partners </h1>
        <span class="line"></span>
        <div class="row">
			<div class="col-sm-4 col-md-3 col-md-offset-3 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/images/sponsors/godrej.png' %}" alt="port">

				</div>
			</div>
			<div class="col-sm-4 col-md-3 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/images/sponsors/qc.png' %}" alt="port"><br><br><br>

				</div>
			</div>



            </div>

		</section>
        <section class="title-wrapper anim fadeInUp s01 delay-0-2s">
        <br>
        <br>
			<h1 class="h1 title"> Radio Partner </h1>
        <span class="line"></span>
        <div class="row">
			<div class="col-sm-4 col-md-3 col-sm-offset-4 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/images/sponsors/myfm.png' %}" alt="port">

				</div>
			</div>




            </div>

		</section>
        <section class="title-wrapper anim fadeInUp s01 delay-0-2s">
        <br>
        <br>
			<h1 class="h1 title"> Banking Partner </h1>
        <span class="line"></span>
        <div class="row">
			<div class="col-sm-4 col-md-4 col-md-offset-4 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/images/sponsors/Bank_of_India.png' %}">

				</div>
			</div>




            </div>

		</section>
         <section class="title-wrapper anim fadeInUp s01 delay-0-2s">
        <br>
        <br>
			<h1 class="h1 title">Online Music Partner </h1>
        <span class="line"></span>
        <div class="row">
			<div class="col-sm-4 col-md-4 col-md-offset-4 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/images/sponsors/Awesong_Black.png' %}" alt="port">

				</div>
			</div>




            </div>

		</section>
        <section class="title-wrapper anim fadeInUp s01 delay-0-2s">
        <br>
        <br>
			<h1 class="h1 title">online registration partner</h1>
        <span class="line"></span>
        <div class="row">
			<div class="col-sm-4 col-md-4 col-md-offset-4 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/base/images/sponsors/college.png' %}" alt="port">

				</div>
			</div>




            </div>

		</section>
        <section class="title-wrapper anim fadeInUp s01 delay-0-2s">
        <br>
        <br>
			<h1 class="h1 title"> Online Sponsors </h1>
        <span class="line"></span>
        <div class="row">
			<div class="col-sm-4 col-md-3 col-md-offset-3 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/images/sponsors/logo-indiacollegefest.png' %}" alt="port">

				</div>
			</div>
			<div class="col-sm-4 col-md-3 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/images/sponsors/knowafest.png' %}" alt="port"><br><br><br>

				</div>
			</div>



            </div>

		</section>



        <section class="title-wrapper anim fadeInUp s01 delay-0-2s">


            <h1 class="h1 title">Past Sponsors </h1>
			<span class="line"></span>
            <div class="row">
			<div class="col-sm-4 col-md-6 col-sm-offset-3 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/base/images/sponsors/reso.png' %}" alt="Resonance">
				</div>
			</div>
		</div>

        <br/><br/>

		<div class="row">

			<div class="col-sm-2 col-md-3 col-md-offset-3  port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/base/images/sponsors/sbi.png' %}" alt="state of India">
				</div>
			</div>
			<div class="col-sm-2 col-md-3 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/base/images/sponsors/myfm.png' %}" alt="My FM">

				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2 col-md-3   port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/base/images/sponsors/relish.png' %}" alt="port">

				</div>
			</div>
			<div class="col-sm-2 col-md-3 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/base/images/sponsors/college.png' %}" alt="port"><br><br><br>

				</div>
			</div>
			<br><br><br>

			<div class="col-sm-2 col-md-3 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/base/images/sponsors/yc.png' %}" alt="port">

				</div>
			</div>
			<div class="col-sm-2 col-md-3 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/base/images/sponsors/ebay.png' %}" alt="port">

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 col-md-3   port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/base/images/sponsors/bros.png' %}" alt="port">

				</div>
			</div>
			<div class="col-sm-2 col-md-3 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/base/images/sponsors/arp.png' %}"alt="port">

				</div>
			</div>
			<div class="col-sm-2 col-md-3 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/base/images/sponsors/Logo_Qcfi-3.png' %}" alt="port"><br><br><br>

				</div>
			</div>
			<div class="col-sm-2 col-md-3 port2-box-wrp anim fadeInUp s01 delay-0-2s">
				<div class="port2-box">
					<img src="{% static 'mom2k17/base/images/sponsors/festPav.png' %}"alt="port">
				</div>
			</div>



		</div>




		</section>
		</div>


<!-- [ PORTFOLIO-1 PAGE END ] -->



			</div>

			<!-- [ OC-CLICK OVERLAY ] -->
			
			<!-- [ OC-CLICK OVERLAY END ] -->

		</main>
		<!-- [ PAGE-SECTION END ] -->

	{% endblock %}