{% extends 'mom2k17/base.html' %}
{% load staticfiles %}
{% block content %}

		<!-- [ PAGE-SECTION ] -->
		<main id="main" class="background" data-image="{% static 'mom2k17/base/images/Team.jpg' %}">

			<!-- [ BACKGROUND-OVERLAY ] -->
			<div class="overlay" style="background-color: rgba(0,0,0,0.6)"></div>
			<!-- [ BACKGROUND-OVERLAY END ] -->

			<div class="nc-content-section index nc-active vhm">

				<!-- [ RAIN ANIMATION ] -->
				<div id="particles-js"></div>
				<!-- [ RAIN ANIMATION END ] -->

				<!-- [ HOME-PAGE ] -->
				<div id="home-page" class="page-wrapper vhm-item active-home anim s01">
					<div class="container">
						
						
						<!-- [ TAGLINE ] -->
						<div class="tagline ac anim fadeInUp s01 delay-0-6s">

							<!-- ANIMATION TEXT -->
							<div class="carousel-widget text-carousel" data-itemrange="false" data-in="fadeIn" data-out="fadeOut" data-autoplay="true" data-loop="true" data-items="1" data-mouseDrag="false" data-touchDrag="false">
								<div class="carousel">
									<div class="owl-carousel owl-theme">
									
									</div>
						
								</div>
					
						<!-- [ TAGLINE END ] -->

					</div>
				</div>
				<!-- [ HOME-PAGE END ] -->

				<!-- [ AJAX-PAGE ] -->
				<div id="ajax-page" class="page-wrapper vhm-item">
					<!-- [ OUR-TEAM PAGE ] -->
<div id="our-team-1" class="anim s01 pg-wrp">
	<div class="container">
		
		<!-- [ TITLE ] -->
		<section class="title-wrapper anim fadeInUp s01 delay-0-5s">
			<h1 class="h1 title"></h1><br><br><br>
			
			<h1 class="text-center"  style="color:white; font-size:400%;">Core Team</h1>
			<span class="line"></span>
			<p>
				Mind Over Matter 2k17 - Technology for Clean India
			</p>
		</section>

		<!-- [ TEAM-CAROUSEL ] -->



		<div class="row anim fadeInUp s01 delay-0-6s">
			<div class="col-md-12">
				
				<div class="carousel-widget team-box-1-carousel" data-itemrange="0,1|520,1|600,2|768,3|930,3|1000,4">
					<div class="carousel">
						
						<div class="owl-carousel owl-theme">
							
							<!-- TEAM-BOX-1 -->
							<div class="item">
								<div class="team-box-1">
									<div class="image">
										<img src="{% static 'mom2k17/base/images/cordinators/gaurav.jpeg' %}" alt="team">
									</div>
									<div class="text">
										<div class="name">
											<h4 class="h-text">Gaurav Agarwal</h4>
											<span class="small-text">Co-ordinator</span>
										</div>
										<p>7697782769</p>
										<div class="social-link">
											<a class="icon vhm" href="https://fb.me/itsmegauravagarwal" target="_blank">
												<span class="box"></span>
												<i class="fa fa-facebook vhm-item"></i>
											</a>
											
										</div>
									</div>
								</div>
							</div>
							<!-- TEAM-BOX-1 -->
							<div class="item">
								<div class="team-box-1">
									<div class="image">
										<img src="{% static 'mom2k17/base/images/cordinators/prakhar.jpeg' %}" alt="team">
									</div>
									<div class="text">
										<div class="name">
											<h4 class="h-text">Prakhar Kapoor</h4>
											<span class="small-text">Co-ordinator</span>
										</div>
										<p>8896707786</p>
										<div class="social-link">
											<a class="icon vhm" href="https://fb.me/prakhar.kapoor.71" target="_blank">
												<span class="box"></span>
												<i class="fa fa-facebook vhm-item"></i>
											</a>
											
										</div>
									</div>
								</div>
							</div>
							<!-- TEAM-BOX-1 -->
							<div class="item">
								<div class="team-box-1">
									<div class="image">
										<img src="{% static 'mom2k17/base/images/cordinators/raj.jpeg' %}" alt="team">
									</div>
									<div class="text">
										<div class="name">
											<h4 class="h-text">Raj Kuwar Gupta</h4>
											<span class="small-text">Co-ordinator</span>
										</div>
										<p>7049837833</p>
										<div class="social-link">
											<a class="icon vhm" href="https://www.facebook.com/profile.php?id=100008099112076" target="_blank">
												<span class="box"></span>
												<i class="fa fa-facebook vhm-item"></i>
											</a>
											
										</div>
									</div>
								</div>
							</div>
							<!-- TEAM-BOX-1 -->
							<div class="item">
								<div class="team-box-1">
									<div class="image">
										<img src="{% static 'mom2k17/base/images/cordinators/soumya.jpeg' %}"alt="team">
									</div>
									<div class="text">
										<div class="name">
											<h4 class="h-text">Soumya Agarwal </h4>
											<span class="small-text">Co-ordinator</span>
										</div>
										<p>9479971385</p>
										<div class="social-link">
											<a class="icon vhm" href="https://fb.me/soumyagarwal" target="_blank">
												<span class="box"></span>
												<i class="fa fa-facebook vhm-item"></i>
											</a>
											
										</div>
									</div>
								</div>
							</div>
							<!-- TEAM-BOX-1 -->
							<div class="item">
								<div class="team-box-1">
									<div class="image">
										<img src="{% static 'mom2k17/base/images/cordinators/ayush.jpeg' %}" alt="team">
									</div>
									<div class="text">
										<div class="name">
											<h4 class="h-text">Ayush Chaudhary</h4>
											<span class="small-text">EMT</span>
										</div>
								        <p>7692009504</p>
										<div class="social-link">
											<a class="icon vhm" href="https://fb.me/aayush.choudhry" target="_blank">
												<span class="box"></span>
												<i class="fa fa-facebook vhm-item"></i>
											</a>
											
											</a>
										</div>
									</div>
								</div>
							</div>
							<!-- TEAM-BOX-1 -->
							<div class="item">
								<div class="team-box-1">
									<div class="image">
										<img src="{% static 'mom2k17/base/images/cordinators/pranay.jpg' %}" alt="team">
									</div>
									<div class="text">
										<div class="name">
											<h4 class="h-text">Pranay Verma</h4>
											<span class="small-text">EMT</span>
										</div>
									    <p>8770162714</p>
										<div class="social-link">
											<a class="icon vhm" href="https://fb.me/pranayROCKzzz " target="_blank">
												<span class="box"></span>
												<i class="fa fa-facebook vhm-item"></i>
											</a>
											
										</div>
									</div>
								</div>
							</div>
							<!-- TEAM-BOX-1 -->
							<div class="item">
								<div class="team-box-1">
									<div class="image">
										<img src="{% static 'mom2k17/base/images/cordinators/mahima.jpeg' %}" alt="team">
									</div>
									<div class="text">
										<div class="name">
											<h4 class="h-text">Mahima Gupta</h4>
											<span class="small-text">EMT</span>
										</div>
									    <p>7049844291</p>
										<div class="social-link">
											<a class="icon vhm" href="https://fb.me/mahima.gupta.121" target="_blank">
												<span class="box"></span>
												<i class="fa fa-facebook vhm-item"></i>
											</a>
											
										</div>
									</div>
								</div>
							</div>
							<!-- TEAM-BOX-1 -->
							<div class="item">
								<div class="team-box-1">
									<div class="image">
										<img src="{% static 'mom2k17/base/images/cordinators/pranjal.jpeg' %}" alt="team">
									</div>
									<div class="text">
										<div class="name">
											<h4 class="h-text">Pranjal Kumar</h4>
											<span class="small-text">EMT</span>
										</div>
										<p>9407185510</p>
										<div class="social-link">
											<a class="icon vhm" href="https://fb.me/pranjalbeast" target="_blank">
												<span class="box"></span>
												<i class="fa fa-facebook vhm-item"></i>
											</a>
											
										</div>
									</div>
								</div>
							</div>

							<!-- TEAM-BOX-1 -->
							<div class="item">
								<div class="team-box-1">
									<div class="image">
										<img src="{% static 'mom2k17/base/images/cordinators/anuj.jpeg' %}" alt="team">
									</div>
									<div class="text">
										<div class="name">
											<h4 class="h-text">Anuj Bhatt</h4>
											<span class="small-text">Co-coordinator</span>
										</div>
									    <p>9451948849</p>
										<div class="social-link">
											<a class="icon vhm" href="https://fb.me/anuj.bhatt.927" target="_blank">
												<span class="box"></span>
												<i class="fa fa-facebook vhm-item"></i>
											</a>
											
										</div>
									</div>
								</div>
							</div>

							<!-- TEAM-BOX-1 -->
							<div class="item">
								<div class="team-box-1">
									<div class="image">
										<img src="{% static 'mom2k17/base/images/cordinators/shubhankar.jpeg' %}" alt="team">
									</div>
									<div class="text">
										<div class="name">
											<h4 class="h-text">Shubhanker Srivastav</h4>
											<span class="small-text">Co-coordinator</span>
										</div>
									    <p>9454932137</p>
										<div class="social-link">
											<a class="icon vhm" href="https://fb.me/shubhanker.srivastava.1" target="_blank">
												<span class="box"></span>
												<i class="fa fa-facebook vhm-item"></i>
											</a>
											
										</div>
									</div>
								</div>
							</div>

							<!-- TEAM-BOX-1 -->
							<div class="item">
								<div class="team-box-1">
									<div class="image">
										<img src="{% static 'mom2k17/base/images/cordinators/ayushi.jpeg' %}" alt="team">
									</div>
									<div class="text">
										<div class="name">
											<h4 class="h-text">Ayushi Rastogi</h4>
											<span class="small-text">Co-coordinator</span>
										</div>
								        <p>8959657283</p>
										<div class="social-link">
											<a class="icon vhm" href="https://www.facebook.com/ayushi.rastogi.311" target="_blank">
												<span class="box"></span>
												<i class="fa fa-facebook vhm-item"></i>
											</a>
											
										</div>
									</div>
								</div>
							</div>

							<!-- TEAM-BOX-1 -->
							<div class="item">
								<div class="team-box-1">
									<div class="image">
										<img src="{% static 'mom2k17/base/images/cordinators/saurabh.jpeg' %}" alt="team">
									</div>
									<div class="text">
										<div class="name">
											<h4 class="h-text">Saurabh Gupta</h4>
											<span class="small-text">Co-coordinator</span>
										</div>
									    <p>9695320340</p>
										<div class="social-link">
											<a class="icon vhm" href="https://fb.me/saurabh.gupta.31945243" target="_blank">
												<span class="box"></span>
												<i class="fa fa-facebook vhm-item"></i>
											</a>
											
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="carousel-btn">
							<a class="vhm btn md line-button prev">
								<span class="vhm-item">
									<i class="fa fa-angle-left"></i>
								</span>
							</a>
							<a class="vhm btn md line-button next">
								<span class="vhm-item">
									<i class="fa fa-angle-right"></i>
								</span>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- [ TEAM-CAROUSEL ] -->

	</div>
</div>
<!-- [ OUR-TEAM PAGE END ] -->		

				</div>
				<!-- [ AJAX-PAGE END ] -->

			</div>

			<!-- [ OC-CLICK OVERLAY ] -->
			<!-- <div class="nc-overlay"></div> -->
			<!-- [ OC-CLICK OVERLAY END ] -->

		</main>
{% endblock %}
