<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
{% extends 'mom2k17/base.html' %}
{% load staticfiles %}
{% block content %}



		<!-- [ PAGE-SECTION ] -->
		<main id="main" class="background" data-image="{% static 'mom2k17/images/workshop/programming-wallpaper-1920x1080.jpg' %}">

			<!-- [ BACKGROUND-OVERLAY ] -->
			<div class="overlay" style="background-color: rgba(0,0,0,0.6)"></div>
			<!-- [ BACKGROUND-OVERLAY END ] -->

			<div class="nc-content-section index nc-active vhm">

				<!-- [ RAIN ANIMATION ] -->
				<div id="particles-js"></div>
				<!-- [ RAIN ANIMATION END ] -->


				<!-- [ HOME-PAGE ] -->
				<div id="home-page" class="page-wrapper vhm-item active-home anim s01">
					<div class="container">


						<!-- [ TAGLINE ] -->
						<div class="tagline ac anim fadeInUp s01 delay-0-6s">

							<!-- ANIMATION TEXT -->
							<div class="carousel-widget text-carousel" data-itemrange="false" data-in="fadeIn" data-out="fadeOut" data-autoplay="true" data-loop="true" data-items="1" data-mouseDrag="false" data-touchDrag="false">
								<div class="carousel">
									<div class="owl-carousel owl-theme">

									</div>

								</div>
                                </div>

						<!-- [ TAGLINE END ] -->

					</div>
				</div>
				<!-- [ HOME-PAGE END ] -->

				<!-- [ AJAX-PAGE ] -->
				<div id="ajax-page" class="page-wrapper vhm-item">
					<!-- [ OUR-TEAM PAGE ] -->
<div id="our-team-1" class="anim s01 pg-wrp">
	<div class="container">

		<!-- [ TITLE ] -->
		<section class="title-wrapper anim fadeInUp s01 delay-0-5s">
			<h1 class="h1 title"></h1><br><br><br>

			<h1 class="text-center"  style="color:white; font-size:400%;">Workshops</h1>
			<span class="line"></span>
            <br>
            <h4 class="h4 title text-center ">By Wingfotech Excellence</h4>
			<p>
				Mind Over Matter 2k17 - Technology for Clean India
			</p>
			<p><small>20th - 21th January 2017</small></p>
			<br>

		</section>

		<!-- [ TEAM-CAROUSEL ] -->
		<div class="row anim fadeInUp s01 delay-0-6s">
			<div class="col-md-12">

				<div class="carousel-widget team-box-1-carousel" data-itemrange="0,1|520,1|600,2|768,3|930,3|1000,4">
					<div class="carousel">

						<div class="owl-carousel owl-theme">

							<!-- TEAM-BOX-1 -->
							<div class="item">
								<div class="team-box-1">
									<div class="image">
										<a data-toggle="modal" href="#iotModal"><img src="{% static 'mom2k17/images/workshop/iot.png' %}" alt="team"></a>
									</div>
									<div class="text">
										<div class="name">
											<h4 class="h-text">Internet of Things (IoT)</h4>

										</div>
                                        <span class="small-text">Fee: ₹ 700</span>
									</div>
								</div>
							</div>
							<!-- TEAM-BOX-1 -->
							<div class="item">
								<div class="team-box-1">
									<div class="image">
										<a data-toggle="modal" href="#androbotModal"><img src="{% static 'mom2k17/images/workshop/androbot.png' %}" alt="team"></a>
									</div>
									<div class="text">
										<div class="name">
											<h4 class="h-text">Andro-botics</h4>

										</div>
                                        <span class="small-text">Fee: ₹ 700</span>
									</div>
								</div>
							</div>
							<!-- TEAM-BOX-1 -->
							<div class="item">
								<div class="team-box-1">
									<div class="image">
										<a data-toggle="modal" href="#tarModal"><img src="{% static 'mom2k17/images/workshop/hololens.png' %}" alt="team"></a>
									</div>
									<div class="text">
										<div class="name">
											<h4 class="h-text"> Augmented Reality</h4>

										</div>
                                        <span class="small-text">Fee: ₹ 700</span>
									</div>
								</div>
							</div>
							<!-- TEAM-BOX-1 -->
							<div class="item">
								<div class="team-box-1">
									<div class="image">
										<a data-toggle="modal" href="#print3dModal"><img src="{% static 'mom2k17/images/workshop/3dp.png' %}" alt="team"></a>
									</div>
									<div class="text">
										<div class="name">
											<h4 class="h-text">3D Printing</h4>

										</div>
                                        <span class="small-text">Fee: ₹ 700</span>
									</div>
								</div>
							</div>
						</div>
{#						<div class="carousel-btn">#}
{#							<a class="vhm btn md line-button prev">#}
{#								<span class="vhm-item">#}
{#									<i class="fa fa-angle-left"></i>#}
{#								</span>#}
{#							</a>#}
{#							<a class="vhm btn md line-button next">#}
{#								<span class="vhm-item">#}
{#									<i class="fa fa-angle-right"></i>#}
{#								</span>#}
{#							</a>#}
{#						</div>#}
					</div>
				</div>

			</div>
		</div>
		<!-- [ TEAM-CAROUSEL ] -->

	</div>
</div>
<!-- [ OUR-TEAM PAGE END ] -->

				</div>
				<!-- [ AJAX-PAGE END ] -->

			</div>

			<!-- [ OC-CLICK OVERLAY ] -->
			<!-- <div class="nc-overlay"></div> -->
			<!-- [ OC-CLICK OVERLAY END ] -->

		</main>
		<!-- [ PAGE-SECTION END ] -->

				<!-- [ NAVIGATION END ] -->

	</div>
	<!-- [ MAIN-WRAPPER END ] -->

	<style>
	.modal-content { opacity: 0.9 }
	.modal-content img { margin-bottom: 20px }
	</style>

	<!-- Modal -->
		<div id="iotModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Internet of Things (IoT) Workshop</h4>
				</div>
				<div class="modal-body">
<img src="{% static 'mom2k17/images/workshop/iot-modal.png' %}">
<p>
Internet of Things (IoT), today’s hot topic and tomorrow’s demand, is one of the topics.
The internetworking of physical devices, vehicles, buildings and other items—embedded with electronics, software, sensors, actuators, and network connectivity that enable these objects to collect and exchange data is all set to be the next big thing.
Gear up to know about its basics, try your hands on arduino, read from sensors, make your first android app, know about cloud servers and much more.
</p>
                    <br><br>
                    <div>
                        <ul class="list-group">
  <li class="list-group-item active "><strong>Workshop Topics</strong> </li>
  <li class="list-group-item">Introduction & Applications of IoT </li>
  <li class="list-group-item">Arduino </li>
  <li class="list-group-item">Programming </li>
  <li class="list-group-item">MIT App Inventor </li>
  <li class="list-group-item">Sensor Interfacing </li>
  <li class="list-group-item">Cloud Computing </li>
  <li class="list-group-item">Projects </li>
</ul>
                    </div>
                    <div>
                        <ul class="list-group">
  <li class="list-group-item active "><strong>Benefits</strong> </li>
  <li class="list-group-item">Practical Workshop  </li>
  <li class="list-group-item">Competition & Certificate Distribution </li>
  <li class="list-group-item">Grand Finale @ IIT </li>
  <li class="list-group-item">Free Internship to the winners of Grand Finale  </li>
  <li class="list-group-item">Cash Prize worth INR 1 lakh  </li>
</ul>
                    </div>
				</div>
			</div>

		</div>
		</div>

		<div id="androbotModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Andro-botics Workshop</h4>
				</div>
				<div class="modal-body">
<img src="{% static 'mom2k17/images/workshop/androbot-modal.jpg' %}">
<p>
Flaunt among your circle with the knowledge you gain in the workshop on Andro-botics.
Know the basics of robotics and electronics.
Introduce yourself to microcontrollers.
Polish your C skills, get introduced to serial communication and LCD.
Make user experience awesome by entering into the world of android development and feel like a pro in techy world of Andro-botics.
</p>
                    <br><br>
                    <div>
                        <ul class="list-group">
  <li class="list-group-item active "><strong>Workshop Topics</strong> </li>
  <li class="list-group-item">Micro controller </li>
  <li class="list-group-item">Programming  </li>
  <li class="list-group-item">Kit Assembling </li>
  <li class="list-group-item">Sensor Interfacing </li>
  <li class="list-group-item">Android Apps </li>
  <li class="list-group-item">Project testing </li>

</ul>
                    </div>
                    <div>
                        <ul class="list-group">
  <li class="list-group-item active "><strong>Benefits</strong> </li>
  <li class="list-group-item">Practical Workshop  </li>
  <li class="list-group-item">Competition & Certificate Distribution </li>
  <li class="list-group-item">Grand Finale @ IIT </li>
  <li class="list-group-item">Free Internship to the winners of Grand Finale  </li>
  <li class="list-group-item">Cash Prize worth INR 1 lakh  </li>
</ul>
                    </div>
				</div>
			</div>

		</div>
		</div>

	    <div id="tarModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Touch and Augmented Reality Workshop</h4>
				</div>
				<div class="modal-body">
<img src="{% static 'mom2k17/images/workshop/holo-modal.jpg' %}">
<p>
Touch and Augmented reality is a field on which tech giants like Microsoft, Apple and Intel all are working.
So would you be behind? Rather than interacting with computer with help of any interface like mouse or keypad interact directly with computer also known as Natural User Interfacing.
Change your computing experience and step forward into a completely new era of Motion Sensing &amp; Gesture Computing.
Learn the techniques used in surface computing, track your touch and finally make your own multi touch pad.
</p>
                    <br><br>
                    <div>
                        <ul class="list-group">
  <li class="list-group-item active "><strong>Workshop Topics</strong> </li>
  <li class="list-group-item">Surface Computing </li>
  <li class="list-group-item">Frustrated Total Internal Reflection </li>
  <li class="list-group-item">Diffused surface illumination </li>
  <li class="list-group-item">Introduction to Kinect </li>
  <li class="list-group-item">What is Open NI? </li>
  <li class="list-group-item">What are libraries?</li>
  <li class="list-group-item">Building your first sketch (program) </li>
</ul>
                    </div>
                    <div>
                        <ul class="list-group">
  <li class="list-group-item active "><strong>Benefits</strong> </li>
  <li class="list-group-item">Practical Workshop  </li>
  <li class="list-group-item">Competition & Certificate Distribution </li>
  <li class="list-group-item">Grand Finale @ IIT </li>
  <li class="list-group-item">Free Internship to the winners of Grand Finale  </li>
  <li class="list-group-item">Cash Prize worth INR 1 lakh  </li>
</ul>
                    </div>
				</div>
			</div>

		</div>
		</div>

	    <div id="print3dModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">3D Printing Workshop</h4>
				</div>
				<div class="modal-body">
<img src="{% static 'mom2k17/images/workshop/3dp-modal.jpg' %}">
<p>
One of the newest technologies, which has set everyone on fire is 3D printing.
Glow up your knowledge on this technology. Get introduced to its basics, try your hands on CAD software, initialize and set up 3D printer by making your own printer, make your own design and take away everything with your printed 3D design.
</p>
                    <br><br>
                    <div>
                        <ul class="list-group">
  <li class="list-group-item active "><strong>Workshop Topics</strong> </li>
  <li class="list-group-item">Introduction to 3D Printers </li>
  <li class="list-group-item">Hand on Design & Print Process </li>
  <li class="list-group-item">Basic CAD software </li>
  <li class="list-group-item">Making your own creation </li>
  <li class="list-group-item">Initialize & setup 3D Printer </li>
  <li class="list-group-item">Operating a 3D Printer </li>
  <li class="list-group-item">Making your own 3D designs </li>
</ul>
                    </div>
                    <div>
                        <ul class="list-group">
  <li class="list-group-item active "><strong>Benefits</strong> </li>
  <li class="list-group-item">Practical Workshop  </li>
  <li class="list-group-item">Competition & Certificate Distribution </li>
  <li class="list-group-item">Grand Finale @ IIT </li>
  <li class="list-group-item">Free Internship to the winners of Grand Finale  </li>
  <li class="list-group-item">Cash Prize worth INR 1 lakh  </li>
</ul>
                    </div>
				</div>
			</div>

		</div>
    </div>
{% endblock %}
